body {
    background-color: #f7f2f2;
    scroll-behavior: smooth;
    
}



.menubar {
    
    top: -10rem;
    
    transition: .6s ease-in-out;
    
}

.open {
    top: 0rem;
  min-height:  20rem;
     transition: .6s ease-in-out;
    
}